@font-face {
    font-family: "Besom Regular";
    src: url(Besom.ttf);
}

@font-face {
    font-family: "Blacktroops Rough";
    src: url(Blacktroops Rough.ttf);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x:hidden;  /*для горизонтального прокручивания*/
    color: black;
    font-family: "Besom Regular";
    
}
.head-block {
    width: 100%;
    height: 3rem;
    background-color: black;
    line-height: 3rem;
    text-align: center;
    display: block;
}

p {
    color: white;
    font-size: 2rem;
}

.top-menu {
    width: 100%;
    height: 3rem;
    background-color: darkred;
    border-bottom: 4px dashed black;
    text-align: center;
    display: block;
}   

.top-menu li {
    display: inline-block;
    padding-right: 2.875rem;
    line-height: 3rem;

}

a {
    color: black;
    font-size: 2rem;
    font-family: "Besom Regular";
}

a:hover {
    color: white;
}

.right-sidebar {
    height: 55rem;
    background-image: url("https://raw.githubusercontent.com/LanaAvry/Bootstrap.github.io/gh-pages/Wade's%20car.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 5px dashed black;
}

.left-side {
    height: 55rem;
    background-color: darkred;
    text-align: center;
}

.racing-cars {
    font-family: "Besom Regular";
    font-size: 13rem;
    color: white;
    line-height: 10rem;
}

.cars {
    font-size: 17rem;
    color: black;
    text-decoration: underline overline;
}
.fox {
    font-size: 3.5rem;
    color: black;
    font-family: "Besom Regular";
    line-height: 3rem;
}

.left-sidebar {
    height: 25rem;
    background-image: url("https://raw.githubusercontent.com/LanaAvry/Bootstrap.github.io/gh-pages/Tia_cutted.png");
    background-position: center center;
    color: black;
    border-top: 5px dashed black;
}

.content {
    height: 25rem;
    border-left: 5px dashed black;
    border-top: 5px dashed black;
    text-align: center; 
    background-color: darkred;
}

.footer-bar {
    width: 100%;
    height: 4rem;
    background-color: black;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    position: absolute;
    bottom: 0;
    position: fixed;
    text-align: center;
    line-height: 4rem;
}

.footer-link {
    color: darkred;
    font-weight: bold;
   
}

@media screen and (max-width: 768px) {
    .top-menu li {padding-right: 1.5rem;}
    a {font-size:2rem;}
    .left-side{height:300px;line-height:28px;}
    .racing-cars{font-size:54px;}
    .cars{font-size:58px;}
    .fox{font-size:28px;}
    .right-sidebar{border-top:5px dashed black;border-left:none;background-position:left center;}
    .content{border-right:5px dashed black;}

}

@media screen and (max-width: 320px) {
    body {min-height: 100vh;}
    .top-menu {width:100%;height:2.5rem;}
    .top-menu li {padding-right:15px;line-height:2.5rem;}
     a:not(.footer-link) {font-size:1.5rem;}
    .left-side{height:300px;line-height:28px;}
    .racing-cars{font-size:54px;}
    .cars{font-size:58px;}
    .fox{font-size:28px;}
    .right-sidebar{border-top:5px dashed black;border-left:none;background-position:left center;}
    .content{border-right:5px dashed black;}
}



